version: "3.8"

services:
  freshrss:
    image: freshrss/freshrss:latest
    container_name: freshrss
    hostname: freshrss
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: "10m"
    ports:
      - "8088:80"
    environment:
      TZ: Asia/Shanghai
      CRON_MIN: '1,31'
    volumes:
      - freshrss_data:/var/www/FreshRSS/data
      - freshrss_extensions:/var/www/FreshRSS/extensions
    # volumes:
    #   - "/var/apps/freshrss/shares/freshrss/freshrss_data:/var/www/FreshRSS/data"
    #   - "/var/apps/freshrss/shares/freshrss/freshrss_extensions:/var/www/FreshRSS/extensions"

volumes:
  freshrss_data:
  freshrss_extensions: